/*head side*/
.logo a{background-image: url(../images/theme-red/logo.gif);}
.side-bar-coll{background: #b00000; }
.side-bar-coll span{background-image: url(../images/theme-red/bg1.png);}
.p-sidebar-menu li{background:#b00000; border-bottom: 1px solid #b00000; }
.p-sidebar-menu li a{background: #c10000; color: #fff;}
.p-sidebar-menu li.open a,.p-sidebar-menu li a:hover{background: #b00000;}
.p-sidebar{background: #c10000;}

.sub-menu{background: #ececec;}
.inpstyle.error{border-color: #df3031;}
.error-txt{color: #e01818;}

.btn{background: #e1e1e1; color: #333;}
.transfer-admin:hover,.btn:hover{background: #d4d4d4; color: #333;}
.checked-quyu .btn-blue,
.choice-authentircate .btn-blue,
.balance-wrap .btn,
.tab-nav-right .btn-blue,
.btn-submit{background: #df3031;color: #fff;}
.checked-quyu .btn-blue:hover,
.choice-authentircate .btn-blue:hover,
.balance-wrap .btn:hover,
.tab-nav-right .btn-blue:hover,
.btn-submit:hover{background: #cf2d32;color: #fff;}
.f-page li a:hover, .f-page li a.active{color:#e01818;}



.del-icon{background-image: url(../images/theme-red/bg.png);}
.alert{color: #e01818;}

.choice-item-on,
.c-paymentType li.active{border-color: #df3031; background-image: url(../images/theme-red/bg1.png);}
.c-paymentType li.active{ background:url(../images/theme-red/rb-arr.png) no-repeat right bottom;}
.f-radio span,
.f-check span{background-image: url(../images/theme-red/bg1.png);}
.f-table-list td .link-a,
.f-link,
.f-link:hover{color: #004499;}
.color-red{color:#e01818;}
.color-green{color:#35aa47;}

.f-search-wrap .f-g .btn-submit{background: #e1e1e1; color: #333;}
.f-search-wrap .f-g .btn-submit:hover{background: #d4d4d4;color: #333;}

.f-search span{background-image: url(../images/theme-red/btn-icon.png);}
/*中间页*/
.f-head-before .logoleft{background-image: url(../images/theme-red/khylogo.jpg);}
.f-head-before .userright a{background-image: url(../images/theme-red/head-icon.png);}
.f-head-before{background: #c10000;}
.cur-money,
.f-paymentType-btn .f-paymentInfo li.cout-price strong,
.idependent-r-box .gmxx-list li span.price{color: #e01818;}

.acc-if-dl dd.first-price p{color:#e01818;}