#fp-nav.right{right:20px;}
#fp-nav ul li{width: 12px; height: 12px; margin:12px 20px;}
#fp-nav ul li a span{border-color: #dbdfe5;}
#fp-nav ul li a.active span{border-color: #e34949; background: none;}
.txcf-tit{width: 33.4%; max-width: 432px;  margin:6.7% 0 5% 5.2%; display: block;}
.section{overflow: hidden;}
.section div{text-align: center;}
.section div img{width: 67.3%; max-width: 1100px;}
.xfnobuy .txcf-tit{width: 38.4%; max-width: 488px;  margin:6.2% 0 4.2% 3.8%; }
.xfnobuy .section div img{width:78%; max-width: 1100px;}
.section .txcf-img2{width:28%; margin-top: -60px}

.txyFullPageFoot{text-align: center; position: fixed; width: 100%; bottom: 0; height: 42px; line-height: 42px; padding: 33px 0  25px; background: rgba(37,39,44,0.76);font-size: 16px; color: #ffffff;}
.txyFullPageFoot .btn{height: 42px; line-height: 42px; font-size: 14px; margin-left: 20px; width: 145px;}
.txyFullPageFoot .btn-blue{width: 116px;}